body{
background-color: #77777733;
}

a{
    color: rgb(42, 145, 59);
    font-weight: bold;
}
a:hover{
    color: red;
}

a.active{
    color:red;
}

.imgStyle {
    width: 15%;
    height: 15%;
}

.btn-functions {
    margin-left: 50px;
}

#pTimer {
    font-size: 60pt;
    font-family: 'Consolas';
}

#btnResetTask {
    margin-left: 5%;
}

#Tcounter {
    font-weight: bold;
    margin-left: 10px;
}

#pBreak {
    color: green;
    font-weight: bolder;
    font-size: 28pt;
    position: absolute;
    margin-left: 3.9in;
    margin-top: -40px;
    text-align: right;
    display: none;
}

#containerPomodoro {
    padding: 0px 0px;
    margin-top: 3%;
    font-weight: 500;
    font-family: Arial;
}
#containerAbout {
    padding: 0px 0px;
    margin-top: 3%;
    font-weight: 500;
    font-family: Arial;
}

.fa-github{
    color:black;
    display: block;
    font-size: 40pt;
    margin-right: 10px;    
}
.fa-linkedin{
    color:#0E76A8;
    display: block;
    font-size: 40pt;
    margin-right: 10px;    
}
.fa-twitter{
    color:#1DA1F2;
    display: block;
    font-size: 40pt;
    margin-right: 10px;    
}

.smLinks{
    text-align: initial;
    margin-left: 30%;
}

@media (max-width: 990px) {
    #containerTomato {
        padding: 0px 0px;
        margin-top: 1in;
    }

    #containerTimer {
        padding: 0px 0px;
        margin-top: 1in;
    }

    #containerTask {
        padding: 0px 0px;
        margin-top: 1in;
    }

    #containerButtons {
        padding: 0px 0px;
        margin-top: 1in;
        margin-left: auto;
        margin-right: auto;
    }

    #pBreak {
        color: green;
        font-weight: bolder;
        font-size: 28pt;
        position: absolute;
        margin-left: 3.9in;
        margin-top: -40px;
        text-align: right;
        display: none;
    }

}

@media (min-width: 990px) {
    #containerTomato {
        padding: 0px 0px;
        margin-top: 2%;
    }

    #containerTimer {
        padding: 0px 0px;
        margin-top: 5%;
    }

    #containerTask {
        padding: 0px 0px;
        margin-top: 3%;
    }

    #containerButtons {
        padding: 0px 0px;
        margin-top: 3%;
        margin-left: auto;
        margin-right: auto;
    }

    #pBreak {
        color: green;
        font-weight: bolder;
        font-size: 18pt;
        position: absolute;
        margin-left: 6.6in;
        margin-top: -40px;
        margin-bottom: px;
        text-align: right;
        display: none;
    }

}

@media (max-width: 466px) {
    #pTimer {
        font-size: 40pt;
        font-family: 'Consolas';
    }

    #containerTomato {
        padding: 0px 0px;
        margin-top: 2%;
    }

    #containerTimer {
        padding: 0px 0px;
        margin-top: 5%;
    }

    #containerTask {
        padding: 0px 0px;
        margin-top: 5%;
    }

    #containerButtons {
        padding: 0px 0px;
        margin-top: 7%;
        margin-left: auto;
        margin-right: auto;
    }
}